In [10]:
import os
os.getcwd()
os.chdir('../')
os.getcwd()

In [14]:
import pandas as pd
df = pd.read_csv(os.path.join('training_files/data.csv'))
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [15]:
df.shape

(7043, 21)

In [16]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [18]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [64]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
tenure_group        0
_tenure             0
dtype: int64

In [19]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [25]:
df.Churn.value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [28]:
df.TotalCharges = pd.to_numeric(df.TotalCharges, errors="coerce")
df.isna().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [29]:
df.dropna(how='any', inplace=True)

In [41]:
df.MultipleLines.unique()

array(['No phone service', 'No', 'Yes'], dtype=object)

In [61]:
df['_tenure'] = df.tenure.apply(lambda x:x//12)

In [62]:
df['_tenure'].unique()

array([0, 2, 3, 1, 5, 4, 6], dtype=int64)

In [51]:
import numpy as np
df.Churn = np.where(df.Churn == 'Yes', 1,0)
df.gender = np.where(df.gender == 'Female', 1,0)
df.Partner = np.where(df.Partner == 'Yes', 1,0)
df.Dependents = np.where(df.Dependents == 'Yes', 1,0)
df.PhoneService = np.where(df.Dependents == 'Yes', 1,0)
df.MultipleLines = np.where(df.MultipleLines == 'Yes', 1,
                            (np.where(df.MultipleLines == 'No', 0,2)))
df.InternetService = np.where(df.InternetService == 'No', 0,
                            (np.where(df.InternetService == 'DSL', 1,2)))
df.OnlineSecurity = np.where(df.OnlineSecurity == 'Yes', 1,0)
df.DeviceProtection = np.where(df.DeviceProtection == 'Yes', 1,0)
df.TechSupport = np.where(df.TechSupport == 'Yes', 1,0)
df.StreamingTV = np.where(df.StreamingTV == 'Yes', 1,0)
df.StreamingMovies = np.where(df.StreamingMovies == 'Yes', 1,0)
df.Contract = np.where(df.Contract == 'Month-to-month', 0,
                            (np.where(df.InternetService == 'One year', 1,2)))
df.PaperlessBilling = np.where(df.PaperlessBilling == 'Yes', 1,0)

df.Contract = np.where(df.Contract == 'Electronic check', 0,
                            (np.where(df.InternetService == 'Mailed check', 1,
                                      (np.where(df.InternetService == 'Bank transfer (automatic)', 2,3)))))

In [49]:
df.Contract.unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [55]:

print(df['tenure'].max())
labels = ["{0} - {1}".format(i, i + 11) for i in range(1, 72, 12)]

df['tenure_group'] = pd.cut(df.tenure, range(1, 80, 12), right=False, labels=labels)

72

In [60]:
print(df.tenure.dtype)
df.head()

int64

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group
0,7590-VHVEG,0,0,0,0,1,0,2,2,0,...,0,0,0,3,1,Electronic check,29.85,29.85,0,1 - 12
1,5575-GNVDE,0,0,0,0,34,0,2,2,1,...,0,0,0,3,0,Mailed check,56.95,1889.50,0,25 - 36
2,3668-QPYBK,0,0,0,0,2,0,2,2,1,...,0,0,0,3,1,Mailed check,53.85,108.15,0,1 - 12
3,7795-CFOCW,0,0,0,0,45,0,2,2,1,...,1,0,0,3,0,Bank transfer (automatic),42.30,1840.75,0,37 - 48
4,9237-HQITU,0,0,0,0,2,0,2,2,0,...,0,0,0,3,1,Electronic check,70.70,151.65,0,1 - 12

In [50]:
df.PaymentMethod.unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [ ]:
df.PaymentMethod.unique()

In [48]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,0,0,1,No,2,1,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,5575-GNVDE,0,0,0,0,34,Yes,2,1,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,0
2,3668-QPYBK,0,0,0,0,2,Yes,2,1,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,0
3,7795-CFOCW,0,0,0,0,45,No,2,1,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,0,0,0,0,2,Yes,2,2,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,0

In [38]:
df.PhoneService.unique()

array(['No', 'Yes'], dtype=object)

In [39]:
df.MultipleLines.unique()

array(['No phone service', 'No', 'Yes'], dtype=object)

In [40]:
df.InternetService.unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)